* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
}

i, cite, em, var, address, dfn {
  font-style: normal !important;
}

ul, li, ol {
  list-style: none;
}

h1 {
  font-size: 24px;
  /*1.5rem*/
}

h2 {
  font-size: 20px;
  /*1.25rem*/
}

h3 {
  font-size: 18px;
  /*1.125rem*/
}

h4 {
  font-size: 16px;
  /*1rem*/
}

h5 {
  font-size: 14px;
  /*0.875rem*/
}

h6 {
  font-size: 12px;
  /*0.75rem*/
}

html {
  height: 100%;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: ' ';
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.mt5 {
  margin-top: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.pd-lr-15 {
  padding: 0 15px;
}

.fs-xxs {
  font-size: 0.75rem !important;
}

.fs-xs {
  font-size: 0.875rem !important;
}

.fs-sm {
  font-size: 1rem !important;
}

.fs-md {
  font-size: 1.125rem !important;
}

.fs-lg {
  font-size: 1.25rem !important;
}

.ff-a {
  font-family: Helvetica, Arial, 'Microsoft YaHei';
}

.ff-b {
  font-family: FZLanTingHei-EL-GBK;
}

.ft-color-1 {
  color: #02c2c2;
}

.ft-color-2 {
  color: #999999;
}

.ft-color-3 {
  color: #ffffff;
}

.ft-color-7 {
  color: #666666;
}

.line-01 {
  height: 1px !important;
  border-top: 1px dotted #dddddd;
}

.line-02 {
  height: 1px !important;
  border-top: 1px solid #dddddd;
}

.btn {
  display: block;
}

.btn-xs {
  padding: 8px 15px;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.of-hidden {
  overflow: hidden;
}

.newsContainer ul li a:focus, .newsContainer ul li a:hover, .newsContainer ul li a:active, .newsContainer ul li a:visited {
  color: #333333;
  text-decoration: none;
}

.newsContainer ul li h4.title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  max-height: 3rem;
  margin-top: -3px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.newsContainer ul li p.summary {
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 5px;
  color: #777777;
}

.newsContainer ul li p.extra {
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 5px;
  color: #b7b7b7;
}

.newsContainer ul li img {
  width: 100%;
}

.newsContainer ul li .newsBox {
  padding: 15px 0;
  position: relative;
}

.newsContainer ul li .feed-img-single {
  padding: 0 15px;
}

.newsContainer ul li .feed-img-single .newsBox {
  position: relative;
}

.newsContainer ul li .feed-img-single .imgBox {
  width: 35%;
  float: left !important;
}

.newsContainer ul li .feed-img-single .debug-info {
  padding-left: 15px;
}

.newsContainer ul li .feed-img-single .debug-info p.extra {
  position: absolute;
  bottom: 16px;
}

.newsContainer ul li .feed-img-big .debug-info {
  padding: 0 15px;
}

.newsContainer ul li .feed-img-big .debug-info h4.title {
  margin-top: 10px;
}


/**-------------content css------------------------**/

header {
  overflow: hidden;
  margin: 16px 16px 0 16px;
}

article {
  padding: 10px 0px 25px 0px;
  overflow: hidden;
  max-width: 640px;
  margin: 0 auto;
}

h4.title {
  font-size: 24px;
  line-height: 1.875rem;
}

.source-info {
  margin: 15px 0 20px 0;
  padding-bottom: 8px;
  border-bottom: 0.5px solid #ccc;
}

.source-info .info {
  line-height: 18px;
  position: relative;
  z-index: 1;
}

.source-info span {
  color: #ccc;
  font-size: .875rem;
}

.source-info .comment-icon {
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  top: -12px;
  left: -3px;
  width: 44px;
  background: url(../images/comment.png) 0 0 no-repeat;
  background-size: cover;
}

.source-info .comment-icon {
  height: 44px;
  top: -11px;
}

.source-info .comment-count {
  position: absolute;
  left: 25px;
  color: #fff;
  padding: 0px 6px;
  line-height: 12px;
  top: 10px;
  font-size: 10px;
  background-color: rgba(2, 194, 194, 0.5);
  border-radius: 5px;
}

.summary {
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
}

#news-content.content {
  color: #222;
  max-width: 640px;
  margin: -10px 0 20px 0;
  word-wrap: break-word;
  text-indent: 0 !important;
  padding: 0 16px;
  position: relative;
  z-index: 10;
}

#news-content.content a, #news-content.content a:focus, #news-content.content a:hover, #news-content.content a:active, #news-content.content a:visited {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
}

#news-content.content p {
  margin-bottom: 16px;
  line-height: inherit;
  font-size: 18px;
  color: inherit;
  overflow: hidden;
  text-align: justify;
  text-justify: distribute-all-lines;
}

#news-content.content img {
  display: block;
  max-width: 100%;
  display: block;
}

#news-content.content span.video-box {
  position: relative;
  line-height: 0;
  display: block;
  overflow: hidden;
  background: #000;
}

#news-content.content span.video-box img {
  max-width: 100%;
}

#news-content.content .img-box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#news-content.content img {
  max-width: 100%;
}

#news-content.content table {
  width: 100%;
  table-layout: fixed;
}

#news-content.content div:last-child, #news-content.content p:last-child {
  margin-bottom: 0;
}

.warning {
  width: 100%;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.25rem;
}

.warning * {
  font-size: 0.875rem;
  color: #999999;
}

.icon-report {
  display: inline-block;
  width: 11px;
  height: 9px;
  background: url(../images/jubao.png) 0 0 no-repeat;
  background-size: 11px 9px;
  margin-left: 3px;
}

a.tip-01 {
  color: #02c2c2;
}

.tip-02 {
  background: #f8f8f8;
  padding: 0 4px;
  line-height: 16px;
  position: relative;
  top: -10px;
  left: 15px;
  color: #ccc;
}

.bug-report {
  width: 59px;
  margin-top: 6px;
  background: url(../images/jubao.png) 0 0 no-repeat;
  background-size: cover;
}

.bug-report {
  height: 26px;
}


/* foot banner */

.foot-download {
  position: fixed;
  z-index: 11;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 46px;
  line-height: 46px;
  background: #ffcc33;
  color: #fff;
}

.foot-download .btn-style3 {
  position: absolute;
  right: 9px;
  top: 9px;
}

.icon {
  display: inline-block;
}

.icon-applogo {
  display: inline-block;
  width: 320px;
  height: 48px;
  background: url(../images/bottom.png) 0 0 no-repeat;
  background-size: 320px 48px;
  float: left;
}


/* shar icon */

.vx_bl {
  width: 6px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  border-left: 1px solid #ffcc33;
}

.share-icon-list-app {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
}

.share-icon-list-app li {
  float: left;
  width: 40px;
  background: url(share.png) no-repeat;
  background-size: 120px 40px;
}

.share-icon-list-app li {
  height: 40px;
}

.share-icon-list-app li:first-child {
  background-position: 0 0;
}

.share-icon-list-app li:nth-child(2) {
  background-position: -40px 0;
}

.share-icon-list-app li:last-child {
  background-position: -80px 0;
}


/*无规则样式*/

.btn-style1 {
  border: 1px solid #93d3d6;
  color: #02c2c2;
}

.btn-style2 {
  background: rgba(2, 194, 194, 0.8);
  border: 1px solid rgba(2, 194, 194, 0.8);
  color: #fff;
}

.btn-style3 {
  display: inline-block;
  width: 80px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  background: rgba(0, 0, 0, 0.8);
}

.btn-style4 {
  display: inline-block;
  width: 100%;
  max-width: 480px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 3px;
  background: rgba(2, 194, 194, 0.8);
  color: #fff;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
}

.btn-origin-wrap {
  display: block;
  height: 35px;
  font-size: 14px;
  line-height: 37px;
  margin-top: 15px;
  text-align: center;
  color: #666;
  border-radius: 18px;
}

.btn-origin {
  display: block;
  height: 35px;
  background: #eeeeee;
  font-size: 14px;
  line-height: 37px;
  margin-top: 15px;
  text-align: center;
  color: #666666;
  box-shadow: 0 0 0 1px rgba(222, 222, 222, 0.5);
  border-radius: 18px;
}


/*字体控制*/

.ff-a .content {
  line-height: 1.75rem;
}

.ff-a .content.fs-xxs {
  line-height: 1.375rem;
}

.ff-a .content.fs-xs {
  line-height: 1.5rem;
}

.ff-a .content.fs-sm {
  line-height: 1.625rem;
}

.ff-a .content.fs-md {
  line-height: 1.875rem;
}

.ff-a .content.fs-lg {
  line-height: 2.125rem;
}

.ff-b .content {
  line-height: 1.875rem;
}

.ff-b .content.fs-xxs {
  line-height: 1.5rem;
}

.ff-b .content.fs-xs {
  line-height: 1.625rem;
}

.ff-b .content.fs-sm {
  line-height: 1.875rem;
}

.ff-b .content.fs-md {
  line-height: 2rem;
}

.ff-b .content.fs-lg {
  line-height: 2.25rem;
}


/* border 0.5px */

.bdTop:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  height: 1px;
  background: url(../images/borderBg.png) 0 0 repeat-x;
  background-size: 1px 1px;
}

.bdBottom:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 1px;
  background: url(../images/borderBg.png) 0 0 repeat-x;
  background-size: 1px 1px;
}


/**------------基础css设置-------------**/

body {
  height: 100%;
  font-size: 16px;
  background: #fff;
  color: #444;
  -webkit-tap-highlight-color: transparent;
}

.break-line {
  display: block;
  width: 100%;
  position: relative;
}

#news-pubtime {
  display: none;
}

.imgWrap {
  display: block;
  position: relative;
  margin: 20px auto;
}
.imgWrap img {
  background: url(pic_default.png) #d8d8d8 50% 50% no-repeat;
  margin: 0 auto;
}

.imgWrap .tip {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  color: #333;
}

.ad {
    background: #f9f9f9;
/*    margin: 20px auto;*/
/*    height: 20px;*/
}

/**
 * ios 调整
 */

.ios-pd {
  padding-bottom: 70px;
}

.ios-pd-top {
  padding-top: 64px;
}


/**
 * android 调整
 */

.android-pd {
  padding-top: 50px;
  padding-bottom: 50px;
}

.android-pd-top {
  padding-top: 50px;
}


/**
 * loading css
 */

.loading {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20px;
  margin-top: -20px;
  z-index: 1;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@media screen and (max-width: 360px) {
  .ff-a .content.fs-md {
    line-height: 1.75rem;
    font-size: 1.0625rem !important;
  }
}

.ui-pnotify.custom .ui-pnotify-container {
    position: fixed;
    top: 50%;
    left: 50%;
    height:50px;
    width: 250px;
    transform: translate(-50%,-50%);
    background-color: #404040 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    text-shadow: 2px 2px 3px black !important;
    font-size: 10pt !important;
    color: #FFF !important;
    padding-left: 50px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
    text-align: center;
}

.ui-pnotify.custom .ui-pnotify-title {
    font-weight: bold;
    /* height: 0; */
}
.ui-pnotify.custom .ui-pnotify-icon {
    float: left;
}
.ui-pnotify.custom .fa {
    margin: 3px;
    width: 33px;
    height: 33px;
    font-size: 33px;
    color: #FF0;
}

/*美学*/
#news-content .quote {
    color:#c2b282;
    padding: 1.5em;
    position: relative;
    line-height: 150%;
    text-indent: 35px;
}
#news-content .quote:before{
    color: #c2b282;
    display:inline-block;
    content: "\201C";
    font-size: 5em;
    position:absolute;
        left:-15px;
        top: 40px;
    line-height: 0.1em;
}
#news-content .quote:after {
    color: #c2b282;
    content: "\201D";
    font-size: 5em;
    position:absolute;
    right:16px;
    bottom: 0em;
    line-height: 0.1em;
}
#news-content>.product-card{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin:15px 0;
    padding:10px 0;
    position:relative;
}
#news-content>.product-card img{
    width:80px !important;
    height: 80px !important;
    position: absolute;
    left:0;
    top:10px;
}
#news-content>.product-card div{
    height: 80px;
    margin-left: 80px;
}
#news-content>.product-card div p{
    font-size: 16px;
    height:100%;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#news-content>.book-card{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin:15px 0;
    padding:10px 0;
    position:relative;
    
}
#news-content>.book-card img{
    width:60px !important;
    height: 80px !important;
    position: absolute;
    left:0;
    top:0;
}
#news-content>.book-card div{
    height: 60px;
    margin-left: 60px;
    padding-left:10px;
}
#news-content>.book-card div .title{
    font-size: 16px;
    margin:0;
    line-height:30px;
    
}
#news-content>.book-card div .author{
    font-size: 14px;
    color: #666666;
    margin:0;
    line-height:30px;
}


